.results {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	margin-top: 30px;
	justify-content: center;
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
	.results {
		grid-template-columns: repeat(2, 1fr);
	}
	input[type="text"] {
		width: auto;
		flex-grow: 1;
	}   
  }
  
  @media (max-width: 499px) {
	.results {
		grid-template-columns: 1fr;
	}
	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	input[type="text"] {
		width: 100%;
		margin-right: 0;
	}
  }
  

